<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proses Registrasi</title>
  <link rel="stylesheet" href="/dist/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="min-h-screen bg-[url('https://cdn.cisdi.org/program/fnm-dokter%20anak-fnm.webp')] bg-center bg-cover flex items-center justify-center p-4">
    <div class="max-w-md w-full bg-white rounded-xl shadow-lg p-8">
      <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">Registrasi Sukses!</h2>
      <p class="text-center text-gray-700">Terima kasih telah melakukan registrasi. Kami akan segera memproses permohonan Anda.</p>
      <div class="mt-4 text-center">
        <a href="/beranda" class="bg-blue-400 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg">Kembali ke Beranda</a>
      </div>
    </div>
  </div>
</body>
</html>
